<app-divider>Table</app-divider>
<app-table [data]="data" [headers]="headers"></app-table>
<app-divider>Tab</app-divider>
This is an stretched grid column. This segment will always match the tab height
<div class="ui grid">
    <div class="four wide column">
        <div class="ui vertical fluid tabular menu">
            <a routerLink="./" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" class="item">
                Bio
            </a>
            <a routerLink="companies" routerLinkActive="active" class="item">
                Companies
            </a>
            <a routerLink="partners" routerLinkActive="active" class="item">
                Partners
            </a>
        </div>
    </div>
    <div class="twelve wide stretched column">
        <div class="ui segment">
            This is an stretched grid column. This segment will always match the tab height
            <router-outlet></router-outlet>
        </div>
    </div>
</div>